* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  margin: 0;
}

button {
  cursor: pointer;
  outline: none;
}
input {
  outline: none;
}

.rounded {
  border-radius: 100%;
}

.material-symbols-outlined {
  font-size: 28px;
}

.c-pointer {
  cursor: pointer;
}
