.product-list {
  background-image: url("../../../../public/img/products-bg.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  > .product-cards {
    display: flex;
    justify-content: space-around;
    transform: translateY(-34px);
    img {
      width: 180px;
      height: 180px;
      object-fit: contain;
    }
    .content {
      h4 {
        margin-top: 8px;
        color: white;
        text-align: center;
      }
    }
  }
}
