.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > * {
    flex: 1;
  }
  &__logo {
    img {
      width: 100px;
    }
  }
  nav {
    display: flex;
    justify-content: center;
    a {
      color: var(--primary-color);
      padding: 6px 20px;
      text-decoration: none;
      transition: border-color 0.3s ease;
      border-bottom: 1px solid transparent;
      &.active {
        border-color: var(--primary-color200);
      }
    }
  }
  .header-actions {
    justify-content: end;
  }
  ul {
    list-style-type: none;
    display: flex;
    gap: 1.2rem;
  }
}
